.hero-slider {

    height: 750px;
    width: 100%;
    /* background-image:url(); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}


.slider-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(5px); */
    top: 0;
    left: 0;
    z-index: -1;
}


.hero-slider::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(27deg, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0.4738270308123249) 100%);
    opacity: .7;

    z-index: -1;
}

.hero-slider img::before {}

.btn-controll {
    height: 3.5rem;
    width: 3.5rem;
    background-color: transparent;
    font-size: 1.5rem;
    border: 0;

}

.btn-controll {

    border: 1px solid #67e8f9;
}

.btn-controll:hover {


    background-color: #67e8f9;
}

.slider-content {
    /* background: rgba(0,0,0,0.7); */

}


/* x-small device */
@media only screen and (max-width: 576px) {

    .hero-slider {

        height: 550px;

    }


}